In [1]:
print("Hello World")

Hello World

In [2]:
name = "mark"
print(name)

mark

In [4]:
name = "Ace"
print(name)

Ace

In [9]:
_last_name_ = "smith"

In [10]:
print(last_name)

smith

In [11]:
assuin_greetings = "g'day"

In [12]:
print(assuin_greetings)

g'day

In [17]:
thankx =  "Thanks for you input"

In [18]:
print(thankx)

Thanks for you input

In [19]:
weight = 150

In [20]:
weight+50

200

In [21]:
original_num = 23
new_num = original_num + 7

In [22]:
new_num

30

In [24]:
num_to_be_added = 7

In [25]:
new_num = original_num + num_to_be_added

In [26]:
print(new_num)

30

# 4 Math Expression

In [44]:
popular_number = 4

In [45]:
popular_number = 2+2

In [46]:
print(popular_number)

4

In [47]:
loss = 12 - 24

In [48]:
loss

-12

In [49]:
dozen = 3*12

In [50]:
dozen

36

In [51]:
popular_number = 12/4

In [52]:
popular_number

3.0

In [53]:
num = 0.75
total = num + 200

In [54]:
total

200.75

In [55]:
num = 10 
another_num = 1.5
sum_of_number = num + another_num

In [56]:
sum_of_number

11.5

# 6 Math expressions: Unfamiliar operators

In [59]:
whats_left_over = 10 % 3
whats_left_over

1

In [62]:
whats_left_over = 9 % 3
whats_left_over

0

In [67]:
age = 10
age

10

In [68]:
age +=1
age

11

In [73]:
age = 12

In [74]:
age

12

In [75]:
age += 50

In [76]:
age

62

In [83]:
age = 12

In [88]:
age -= 2

In [89]:
age

7

In [98]:
age = 12
age *= 3

In [99]:
age

36

In [101]:
age = 3
age *= 3

In [102]:
age

9

In [104]:
age = 12
amount_to_increment = 3
age += amount_to_increment
print(age)

15

# 7 Math expressions: Eliminating ambiguity

In [105]:
total_cost = 1 * 4 +5

In [106]:
total_cost

9

In [107]:
total_cost = 1 + (3*5)

In [108]:
total_cost

16

In [109]:
total_cost = (1 + 3) * 4

In [110]:
total_cost

16

In [111]:
result_of_computation = (2 * 4) * (4 + 2)

In [112]:
result_of_computation

48

In [113]:
greeting = "Hello , World"

In [114]:
greeting = "Hello"
addressee = "World"

In [115]:
whole_greeting = greeting + addressee

In [116]:
whole_greeting

'HelloWorld'

In [117]:
greeting = "Hello"
separators = ", "
addressee = "World"
punc = "!"
whole_greeting = greeting + separators + addressee
punc
print(whole_greeting)

Hello, World

In [119]:
print("The Sum of 2 + 2 is " + "4")

The Sum of 2 + 2 is 4

# 9 if statements

In [1]:
specie = "cat"
if specie == "cat":
    print("yep it is a cat")

yep it is a cat

In [3]:
number_of_husbands = 1
if number_of_husbands == 1:
    print("So far so good.")
    print("Congratulations.")
    print("All done")

So far so good.
Congratulations.
All done

# 10 Comparison operator

In [6]:
your_ticket_number = 47208
if your_ticket_number != 487208:
    print("Better luck next time.")

Better luck next time.

In [9]:
species = "dog"
if species == "cat":
    print("Yep, it's cat.")
if species != "cat":
    print("Nope, not cat.")

Nope, not cat.

# 11 else and elif statements

In [15]:
donut_price = "low"
if donut_condition == "fresh":
    buy_score = 10
elif donut_price == "low":
    buy_score = 5
else:
    buy_score = 0

# 12 Testing sets of conditions

In [19]:
weight = 3001
time = 2
if weight > 300 and time < 6:
    status = "try to recruit him"
    print(status)

try to recruit him

In [24]:
x=1
y=1
a=2
b=2
c=2
d=2
g=3
h=3
if (x == y or a == b) and c == d:
    g = h
else:
    e = f