# 15 List

In [2]:
cities = ["Atlanta","Balitmore","Chicago","Denver","Los Angilies","Seatille"]

In [3]:
print("Welcome to "+cities[2])

Welcome to Chicago

In [5]:
mix_things = [1,"Bob","Now is"]

# Lists: Adding and changing elements

In [7]:
cities.append("New York")

In [8]:
cities

['Atlanta',
 'Balitmore',
 'Chicago',
 'Denver',
 'Los Angilies',
 'Seatille',
 'New Yourk',
 'New York']

In [9]:
longer_list_of_cities = cities + ["Dubuque","New Oreleans"]

In [11]:
longer_list_of_cities

['Atlanta',
 'Balitmore',
 'Chicago',
 'Denver',
 'Los Angilies',
 'Seatille',
 'New Yourk',
 'New York',
 'Dubuque',
 'New Oreleans']

In [13]:
cities.insert(6,"Washington")

In [17]:
smaller_list_of_cities = cities[2:5]

In [18]:
smaller_list_of_cities

['Chicago', 'Denver', 'Los Angilies']

In [19]:
len(cities)

9

# Slicing

In [24]:
cities[0:8]

['Atlanta',
 'Balitmore',
 'Chicago',
 'Denver',
 'Los Angilies',
 'Seatille',
 'Washington',
 'New Yourk']

In [25]:
cities

['Atlanta',
 'Balitmore',
 'Chicago',
 'Denver',
 'Los Angilies',
 'Seatille',
 'Washington',
 'New Yourk',
 'New York']

In [26]:
cities[:3] #ye start se kr 3 k phele tk lae ga

['Atlanta', 'Balitmore', 'Chicago']

In [23]:
cities[5:] #5 se le kr end tk

['Seatille', 'Washington', 'New Yourk', 'New York']

#  Deleting and removing elements

In [28]:
tasks = ["email Frank", "call Sarah", "meet withZach"]

In [29]:
tasks

['email Frank', 'call Sarah', 'meet withZach']

In [31]:
del tasks[0]

In [32]:
tasks

['call Sarah', 'meet withZach']

In [33]:
task1 = tasks.copy()

In [34]:
task1

['call Sarah', 'meet withZach']

In [35]:
del tasks[1]

In [36]:
tasks

['call Sarah']

In [37]:
task1

['call Sarah', 'meet withZach']

In [39]:
task1.remove("call Sarah")

In [40]:
task1

['meet withZach']

In [42]:
task1

['meet withZach']

In [48]:
tasks = ["email Frank", "call Sarah", "meet withZach"]

In [49]:
tasks.pop(2)

'meet withZach'

In [50]:
tasks = ["email Frank", "call Sarah", "meet withZach"]

In [52]:
tasks.pop()

'meet withZach'