In [37]:
customer_one = {"firstname":"David","lastname":"joseph","address":"abc2233"}

In [38]:
customer_29876 = {"first name": "David", "lastname": "Elliott", "address": "4803 Wellesley St."}

In [39]:
address_of_customer = customer_29876["address"]

In [40]:
print(address_of_customer)

4803 Wellesley St.

In [41]:
rankings = {5: "Finland", 2: "Norway", 3: "Sweden",7: "Iceland"}

In [42]:
print(rankings[3])

Sweden

In [43]:
things_to_remember = {0: "the lowest number", "adozen": 12, "snake eyes": "a pair of ones", 13: "abaker's dozen"}

In [44]:
print(things_to_remember[0])

the lowest number

In [45]:
print(things_to_remember["adozen"])

12

In [46]:
print([things_to_remember["snake eyes"]])

['a pair of ones']

In [47]:
customer_29876["city"] = "Torronto"

In [48]:
customer_29876

{'first name': 'David',
 'lastname': 'Elliott',
 'address': '4803 Wellesley St.',
 'city': 'Torronto'}

In [49]:
customer_one

{'firstname': 'David', 'lastname': 'joseph', 'address': 'abc2233'}

In [50]:
del customer_one["address"]

In [51]:
customer_one

{'firstname': 'David', 'lastname': 'joseph'}

In [52]:
customer_29876["city"] = "Bako"

In [53]:
customer_29876

{'first name': 'David',
 'lastname': 'Elliott',
 'address': '4803 Wellesley St.',
 'city': 'Bako'}

In [54]:
for each_value in customer_29876:    # print all the keys of dictionaries
    print(each_value)

first name
lastname
address
city

In [55]:
for each_value in customer_29876.values():  # this will print all the values 
    print(each_value)

David
Elliott
4803 Wellesley St.
Bako

In [56]:
# for each_value in customer_29876:
#     print(f"Key is {each_value} and value is {each_value.value()}")

In [57]:
for each_value in customer_29876.keys():    # print all the keys of dictionaries
    print(each_value)

first name
lastname
address
city

In [59]:
for each_key,each_value in customer_29876.items():
    print(f"Key is {each_key} and value is {each_value}")

Key is first name and value is David
Key is lastname and value is Elliott
Key is address and value is 4803 Wellesley St.
Key is city and value is Bako

In [61]:
customers = [
    { "customer id": 0, "first name":"John", "last name": "Ogden","address": "301 Arbor Rd."},
    { "customer id": 1, "first name":"david", "last name": "mike","address": "302 Arbor Rd."},
    { "customer id": 2, "first name":"smith", "last name": "jef","address": "303 Arbor Rd."}
]

In [63]:
# customers[0]

{'customer id': 0,
 'first name': 'John',
 'last name': 'Ogden',
 'address': '301 Arbor Rd.'}

In [64]:
new_customer_id = len(customers)

In [65]:
new_customer_id

3

In [68]:
new_dictionary = {"customer id": new_customer_id,"first name": "AB","last name": "UU","address": "IO"}

In [69]:
customers.append(new_dictionary)

In [70]:
len(customers)

4

In [71]:
customers

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 {'customer id': 1,
  'first name': 'david',
  'last name': 'mike',
  'address': '302 Arbor Rd.'},
 {'customer id': 2,
  'first name': 'smith',
  'last name': 'jef',
  'address': '303 Arbor Rd.'},
 {'customer id': 3, 'first name': 'AB', 'last name': 'UU', 'address': 'IO'}]

In [72]:
customer_29876["discounts"]=["standard", "volume", "loyalty"]

In [73]:
customer_29876

{'first name': 'David',
 'lastname': 'Elliott',
 'address': '4803 Wellesley St.',
 'city': 'Bako',
 'discounts': ['standard', 'volume', 'loyalty']}

In [76]:
customer_29876['discounts']

['standard', 'volume', 'loyalty']

In [77]:
customer_29876['discounts'][2]

'loyalty'

In [78]:
customers = {
    0: { "first name":"John", "last name": "Ogden", "address": "301 Arbor Rd."},
    1: { "first name":"Ann", "last name": "Sattermyer","address": "PO Box 1145", },
    2: {"first name":"Jill", "last name": "Somers","address": "3 Main St.", }
}

In [80]:
customers[1]

{'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'}

In [81]:
customers = {
    "a": { "first name":"John", "last name": "Ogden", "address": "301 Arbor Rd."},
    "n": { "first name":"Ann", "last name": "Sattermyer","address": "PO Box 1145", },
    "d": {"first name":"Jill", "last name": "Somers","address": "3 Main St.", }
}

In [82]:
customers["n"]

{'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'}